/* Square.css */
.square {
    width: 75px;
    height: 75px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .dark {
    background-color: #8b5a2b;
    color: #fff;
  }
  
  .light {
    background-color: #f0d9b5;
    color: #000;
  }

  .square img {
    width: 50%;
    height: 50%;
  }
  
  